# dependencies 
/node_modules
/.pnp
/.pnp.js


# next.js
/.next/
/out/


# json
/unConvertDocIds.json
/convertedDocIds.json

# production
/build

# misc
.DS_Store
*.pem

# local env files
.env.local

# Log files
*.log

# typescript
*.tsbuildinfo
next-env.d.ts

# build/output files
/google-docs-output.html
